.section-clients {
    padding: 9vw 6vw;
    padding-bottom: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}

.section-clients video {
    position: absolute;
    inset:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section-clients h2 {
    font-size: 3.75vw;
    color:#fff;
    text-align: right;
}

.section-clients h3 {
    font-size: 3vw;
    color:#fff;
    text-align: right;
}

.section-clients > p {
    width: 80%;
    margin-top: 3.25vw;
    font-size: 2.25vw;
    line-height: 2.65vw;
    color:#fff;
    text-align: right;
}

.section-clients p:nth-of-type(2) {
    margin-top: 0px;
    color: var(--color-bars-light);
    margin-bottom: 10vw;
}

.client-buttons {
    position: absolute;
    bottom: 5vw;
    margin-top: 5vw;
    width: 65%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {

    .section-clients h2 {
        font-size: 6vw;
    }
    .section-clients h3 {
        font-size: 5vw;
    }
    .section-clients > p {
        width: 90%;
        font-size: 3.25vw; 
        line-height: 4vw;
        margin-bottom: 2vw;
    }
    
    .section-clients p:nth-of-type(2) {
        margin-bottom: 14vw;
    }
    
    .client-buttons {
        width: 100%;
        right: 0;
        left: 0;
        height: 8vw;
        padding-left: 6vw;
        padding-right: 12vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .client-buttons button {
        width: 30vw;
        height: 100%;
    }
    .client-buttons button p {
        font-size: 2vw;
    }
    .client-buttons button img {
        right: -8vw;
    }
}