.section-familiar {
    position: relative;
    width: 100%;
    padding-top: 5.5vw;
    padding-bottom: 8vw;
    background-color: var(--color-accent-01);
}

.familiar-content {
    position: relative;
    inset: 0;
}

.section-familiar h2 {
    margin-left: 6vw;
    font-size: 3.75vw;
    margin-bottom: 7vw;
}

.familiar-blocks {
    
    width: 100%;
    padding: 0 5.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    z-index: var(--z-content);
}

.familiar-block {
    width: 26vw;
    padding: 3vw 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-background);
    z-index: var(--z-content);
}
.familiar-block img {
    height: 30%;
}
.familiar-block p {
    width: 82%;
    font-size: 1.9vw;
    text-align: center;
    margin-top: 2.5vw;
}

.familiar-block-02 {
    background-color: var(--color-accent-02);
}

.familiar-block-03 {
    background-color: var(--color-accent-03);
}

.familiar-graphics {
    position: absolute;
    inset:0;
    z-index: var(--z-graphics);
}

.familiar-glowBar-top {
    position: absolute;
    top: 30vw;
    left: -1vw;
    width: 10vw;
    z-index: var(--z-graphics);
}
.familiar-glowBar-middle {
    position: absolute;
    top: 35vw;
    left: 30vw;
    width: 10vw;
    z-index: var(--z-graphics);
}
.familiar-glowBar-bottom{
    position: absolute;
    top: 35vw;
    left: -1vw;
    width: 10vw;
    z-index: var(--z-graphics);
}
.familiar-graphics-bar-top {
    position: absolute;
    top: 34vw;
    right: 0vw;
    width: 50vw;
    height: 0.3vw;
    background-color: var(--color-bars-light);
    z-index: var(--z-graphics);
}
.familiar-graphics-bar-top > div {
    position: absolute;
    top: 1vw;
    right: 0;
    width: 2vw;
    height: 0.45vw;
    background-color: var(--color-bars-light);
}

.familiar-graphics-bottom-bars {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    height: 3.15vw;
    z-index: var(--z-graphics);
}
.familiar-graphics-bottom-bars .blip {
    position: absolute;
    bottom: -0.5vw;
    left: -1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background-color: var(--color-bars-light);
}
.familiar-graphics-bottom-bars > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.familiar-graphics-sliding-blocks {
    position: absolute;
    top: 0.5vw;
    right: 28.5vw;
    width: 2px;
    height: 2px;
}
.familiar-graphics-sliding-block-slider:nth-child(1) {
    position: absolute;
    width: 20vw;
}
.familiar-graphics-sliding-block-slider:nth-child(1) > div{
    position: absolute;
    width: 5vw;
    height: 2.5vw;
    transform: skew(-54deg);
    background-color: var(--color-bars-light);
    animation: skew-box-slide-01 4s both infinite ease-in-out;
}
.familiar-graphics-sliding-block-slider:nth-child(2) {
    position: absolute;
    width: 20vw;
    left: 5.5vw;
}
.familiar-graphics-sliding-block-slider:nth-child(2) > div{
    position: absolute;
    width: 5vw;
    height: 2.5vw;
    transform: skew(-54deg);
    background-color: var(--color-bars-light);
    animation: skew-box-slide-02 4s both infinite ease-in-out;
}
.familiar-graphics-sliding-block-slider:nth-child(3) {
    position: absolute;
    width: 20vw;
    left: 11vw;
}
.familiar-graphics-sliding-block-slider:nth-child(3) > div{
    position: absolute;
    width: 5vw;
    height: 2.5vw;
    transform: skew(-54deg);
    background-color: var(--color-bars-light);
    animation: skew-box-slide-03 4s both infinite ease-in-out;
}

@media only screen and (min-width: 1000px) {
    
    .familiar-glowBar-top, .familiar-glowBar-bottom {
        visibility: hidden;
    }
}

@media screen and (max-width: 720px) {

    .section-familiar h2 {
        font-size: 8vw;
        margin-bottom:0;
    }
    
    .familiar-blocks {
        padding: 0 8vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .familiar-block {
        width: 100%;
        margin-top: 7vw;
        padding: 7vw;
    }
    .familiar-block img {
        width: 30vw;
    }
    .familiar-block p {
        font-size: 5vw;
    }
    .familiar-glowBar-top {
        top: 40vw;
    }
    .familiar-glowBar-bottom{
        top: 45vw;
    }
    .familiar-graphics-bar-top {
        top: 230vw;
    }
    .familiar-graphics-bar-bottom {
        top: 232vw;
    }

    .familiar-graphics-bottom-bars {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60vw;
        height: 3.15vw;
        z-index: var(--z-graphics);
    }
    .familiar-graphics-bottom-bars .blip {
        position: absolute;
        bottom: -0.5vw;
        left: -3vw;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        background-color: var(--color-bars-light);
    }
    .familiar-graphics-bottom-bars > svg {
        position: absolute;
        top: -2.25vw;
        left: -11.5vw;
        width: 150%;
        height: 150%;
    }
    .familiar-graphics-sliding-blocks {
        top: -1.5vw;
        right: 35.5vw;
    }
    .familiar-graphics-sliding-block-slider:nth-child(1),
    .familiar-graphics-sliding-block-slider:nth-child(2),
    .familiar-graphics-sliding-block-slider:nth-child(3) {
        width: 30vw;
    }
    .familiar-graphics-sliding-block-slider:nth-child(2) {
        left: 11vw;
    }
    .familiar-graphics-sliding-block-slider:nth-child(3) {
        left: 22vw;
    }
        
    .familiar-graphics-sliding-block-slider:nth-child(1) > div,
    .familiar-graphics-sliding-block-slider:nth-child(2) > div,
    .familiar-graphics-sliding-block-slider:nth-child(3) > div{
        width: 10vw;
        height: 4vw;
    }
}