.footer {
    position: relative;
    padding-top: 4vw;
    padding-left: 5.5vw;
    padding-right: 4.75vw;
    padding-bottom: 10vw;
    width: 100%;
    background-color: var(--color-background);
}

.footer-content {
    position: relative;
    inset: 0;

    display: flex;
    flex-direction: column;
    z-index: var(--z-content);
}

footer h2 {
    align-self: flex-end;
    width: 75%;
    font-size: 3vw;
    text-align: right;
    line-height: 3.65vw;
}

.footer-content-lists {
    width: 50vw;
    margin-top: 11vw;
    align-self: flex-start;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-list-block {
    width: 15vw;
    display: flex;
    flex-direction: column;
}

.footer-list-block h4 {
    font-size: 1.25vw;
    margin-bottom: 2vw;
    letter-spacing: 0.2vw;
}

.footer-list-block a, .footer-list-block p {
    font-size: 1.25vw;
    margin-bottom: 0.5vw;
}

.footer-content-email {
    position: relative;
    margin-top: 8.75vw;
    bottom: 0;
    font-size: 2vw;
    letter-spacing: 0.05vw;
    color: var(--color-bars-mid);
}
.footer-content-email .blip {
    left: -2.75vw;
    top: 0.75vw;
    width: 1.5vw;
    height: 1.5vw;
}

.footer-graphics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: var(--z-graphics);
}
.footer-graphics-bars-top {
    position: absolute;
    right: 0;
    top: 22vw;
    height: 16%;
    width: 33%;
}
.footer-graphics .bar-loader {
    top: -2vw;
    left: 21vw;
    width: 20vw;
    height: 3.5vw;
}
.footer-graphics .blip {
    top: 0;
    left: 0;
    width: 2vw;
    height: 2vw;
}
.footer-graphics .blip > div {
    position: absolute;
    top: 0.75vw;
    left: 1vw;
    width: 13.5vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
}
.footer-graphics .blip > div > div {
    position: absolute;
    top: 0vw;
    left: 13.5vw;
    width: 11.25vw;
    height: 0.25vw;
    transform-origin: left;
    transform: rotate(45deg);
    background-color: var(--color-bars-light);
}
.footer-graphics .blip > div > div > div:nth-child(1) {
    position: absolute;
    top: 0vw;
    left: 8.5vw;
    width: 12vw;
    height: 0.25vw;
    transform-origin: left;
    transform: rotate(-45deg);
    background-color: var(--color-bars-light);
}
.footer-graphics .blip > div > div > div:nth-child(2) {
    position: absolute;
    top: 0vw;
    left: 11.25vw;
    width: 11.5vw;
    height: 0.25vw;
    transform-origin: left;
    transform: rotate(-45deg);
    background-color: var(--color-bars-light);
}

.footer-graphics-logo {
    position: absolute;
    right: 13vw;
    bottom: 16vw;
    height: 13.5vw;
}

.footer-graphics-bars-lower {
    position: absolute;
    bottom: 2.5vw;
    right: 0;
    width: 30.5vw;
    height: 13.5vw;
}
.footer-graphics-bars-lower polygon {
    fill: var(--color-bars-light);
}

@media screen and (max-width: 720px) {

    footer {
        overflow: hidden;
        margin-top: -2px;
    }

    footer h2 {
        width: 100%;
        font-size: 8vw;
        line-height: 8vw;
    }
    
    .footer-content-lists {
        width: 75vw;
        margin-top: 5vw;
        align-self: flex-start;
    }
    .footer-list-block {
        padding-left: 2vw;
        border-left: 1px solid #fff5;
        width: 20vw;
    }
    .footer-list-block:nth-child(1) {
        border-left: none;
    }
    
    .footer-list-block h4 {
        font-size: 5vw;
    }
    
    .footer-list-block a, .footer-list-block p {
        font-size: 3vw;
    }

    .footer-content-email {
        font-size: 5vw;
        margin-left: 4vw;
    }
    .footer-content-email > .blip {
        left: -6vw;
        top: 2vw;
        width: 3vw;
        height: 3vw;
    }
    .footer-content-email > .blip::after {
        width: 3vw;
        height: 3vw;
    }

    .footer-graphics {
        opacity: 0.25;
        perspective: 200px;
    }
    .footer-graphics-bars-top {
        top: 35vw;
    }
    .footer-graphics > div, .footer-graphics > svg {
        transform: rotateY(-20deg);
    }
    .footer-graphics > img {
        transform: rotateY(-40deg);
    }
    .footer-graphics-logo {
        right: 10vw;
        bottom: 30vw;
        height: 30vw;
    }
    .footer-graphics-bars-lower {
        bottom: 7vw;
    }
    .footer-graphics-bars-top .blip {
        top: 0;
        left: 0;
        width: 3vw;
        height: 3vw;
    }
}