.section-hero {
    position: relative;
    margin-top: var(--nav-height);
    background-color: var(--color-background);
    width: 100%;
    height: auto;
    padding-top: 5vw;
    padding-left: 5.5vw;
    padding-bottom: 5vw;
}

.hero-content {
    position: relative;
    isolation: isolate;
    z-index: var(--z-content);
}

.hero-content h2 {
    font-size: 5.75vw;
    margin-top: -0.6vw;
}

.hero-content h3 {
    position: relative;
    margin-top: 13vw;
    letter-spacing: -0.03vw;
    width: fit-content;
}

.hero-content h3 > span {
    color: var(--color-bars-light);
}

.hero-graphics {
    position: absolute;
    inset: 0;
}

.bars-top > div, .bars-top > img,
.bars-middle > div, .bars-middle > img,
.bars-left > div, .bars-left > img,
.glowBar-bottom > div, .glowBar-bottom > img {
    position: absolute;
}

.bars-top {
    position: absolute;
    top: 3.75vw;
    left: 23.5vw;
    width: 60vw;
    height: 5vw;
}

.glowBar-left-top {
    width: 5.5vw;
    top: -0.25vw;
    left: -0.75vw;
    transform-origin: right;
    transform: rotateZ(-45deg);
}

.bar-heading-to-glowBar {
    left: 6vw;
    width: 2vw;
    height: 3.8vw;
    transform-origin: 0% 0%;
    transform: skew(-45deg);
    background-color: var(--color-bars-light);
}

.glowBar-top {
    top: -0.05vw;
    left: 7.8vw;
    width: 42.325vw;
}

.bar-glowbar-top-to-blip-svg {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 7vw;
    height: 3.2vw;
    transform-origin: left;
}
.bar-glowbar-top-to-blip {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 2.75vw;
    height: var(--bar-height);
    background-color: #0005;
    transform-origin: left;
    transform: rotate(45deg);
    border-radius: var(--bar-border-radius);
}
.bar-glowbar-top-to-blip > div {
    position: absolute;
    top: 0vw;
    left: 100%;
    width: 5vw;
    height: var(--bar-height);
    background-color: #0005;
    transform-origin: left;
    transform: rotate(-45deg);
    border-radius: var(--bar-border-radius);
}

.bars-top .blip {
    left: 56.5vw;
    top: 1vw;
    width: 2vw;
    height: 2vw;
}

.graphic-rings {
    position: absolute;
    right: -9vw;
    top: -16.5vw;
    width: 21.25vw;
    height: 21.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    z-index: var(--z-graphics);
}

.graphic-ring-inner,
.graphic-ring-small,
.graphic-ring-big,
.graphic-ring-outer {
    position: absolute;
    width: 100%;
}

.graphic-ring-inner {
    width: 75%;
    animation: rotateInner 10s linear infinite forwards;
}

.graphic-ring-small {
    width: 90%;
    animation: rotatex2 10s linear infinite forwards;
}

.graphic-ring-big {
    width: 90%;
    animation: rotate 10s linear infinite forwards;
}

.bars-middle {
    position: absolute;
    top: 22.5vw;
    left: 21vw;
    width: 66.5vw;
    height: 8vw;
}

.bars-middle .blip {
    left: -0.5vw;
    top: 5.6vw;
}
.bars-middle-blip-to-battery-svg {
    position: absolute;
    top: -4.2vw;
    left: 2vw;
    width: 40.5vw;
    height: 5.3vw;
    transform-origin: left;
}

.bars-middle .battery {
    top: -1.3vw;
    left: 41.5vw;
    width: 6vw;
    height: 3vw;
}

.bar-battery-to-ring {
    left: 47.25vw;
    top: 0.25vw;
    width: 17.5vw;
}

.glowBar-below-rings {
    bottom: -0.4vw;
    right: -0.75vw;
    width: 2.5vw;
    transform-origin: left;
    transform: rotateZ(-90deg);
}

.bar-loader {
    left: 18vw;
    top: 3vw;
    width: 29.75vw;
    height: 3vw;
}

.bars-left {
    visibility: visible;
    position: absolute;
    top: 32.25vw;
    left: -3vw;
}

.bars-left .glowBar:nth-child(1) {
    visibility: visible;
    left: -6.6vw;
    width: 21vw;
    transform: rotateZ(-45deg);
}

.bars-left .glowBar:nth-child(2) {
    visibility: visible;
    top: 2vw;
    left: -6.6vw;
    width: 21vw;
    transform: rotateZ(-45deg);
}

.glowBar-bottom {
    position: absolute;
    right: -5vw;
    top: 1.5vw;
    width: 1px;
    height: 13.5vw;
    z-index: var(--z-graphics);
}

.glowBar-bottom .glowBar {
    top: 6.5vw;
    left: -6.5vw;
    width: 13vw;
    transform: rotateZ(90deg);
}

.glowBar-bottom .blip-slide {
    position: absolute;
    left: -1vw;
    animation: blip-slide 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glowBar-bottom .blip {
    position: absolute;
    left: 0vw;
    animation: blip-grow 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glowBar-bottom .blip::after {
    animation-duration: 3s;
}

@media only screen and (min-width: 1000px) {
    
    .bars-left {
        visibility: hidden;
    }
    .bars-left .glowBar:nth-child(1){
        visibility: hidden;
    }
    .bars-left .glowBar:nth-child(2) {
        visibility: hidden;
    }
        
}

@media only screen and (max-width: 720px) {
    .hero-content h2 {
        font-size: 8vw;
    }
    .hero-content h3 {
        font-size: 4vw;
        width: 50%;
    }
    .glowBar-top {
        left: 7.75vw;
        width: 21.25vw;
    }
    
    .bar-glowbar-top-to-blip-svg {
        left: 29vw;
        height: 3.4vw;
    }
    .bars-top .blip {
        left: 36vw;
        top: 1.25vw;
    }

    .bars-left {
        top: 36.5vw;
        left: -6.5vw;
    }

    .bars-middle {
        top: 33vw;
        left: 10vw;
    }

    .bars-middle .blip {
        top: 5vw;
        left: 5vw;
    }
    .bars-middle-blip-to-battery-svg {
        top: -3.7vw;
        width: 35.25vw;
    }

    .bars-middle .battery {
        top: -1.2vw;
        left: 42vw;
    }

    .bar-battery-to-ring {
        left: 48vw;
        width: 17vw;
    }

    .glowBar-below-rings {
        bottom: -0.2vw;
    }
    
    .graphic-rings {
        right: -14vw;
        top: -27vw;
        width: 30vw;
        height: 30vw;
        opacity: 50%;
    }

    .bar-loader {
        left: 20vw;
        width: 27.75vw;
    }

    .glowBar-bottom {
        top: 3vw;
        right: -11vw;
    }
}