.section-stressed {
    position: relative;
    padding: 0 7vw;
    padding-top: 2vw;
    margin-bottom: 5.5vw;
}

.section-stressed h2 {
    position: relative;
    font-size: 3.75vw;
    color: var(--color-accent-01);
    text-align: center;
    z-index: var(--z-content);
}

.section-stressed h2 span {
    color: var(--color-accent-01);
    text-align: center;
    
}

.section-stressed h3 {
    position: relative;
    margin-top: 2vw;
    font-size: 2vw;
    color: var(--color-accent-01);
    text-align: center;
    z-index: var(--z-content);
}

.stressed-content-blocks {
    position: relative;
    margin-top: 2vw;
    margin-bottom: 2.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
    z-index: var(--z-content);
}

.stressed-content-block {
    position: relative;
    width: 40vw;
    padding: 1.75vw 2vw;
    padding-bottom: 7vw;
    background-color: var(--color-accent-01);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stressed-content-block h4 {
    font-size: 1.75vw;
    text-align: center;
}

.stressed-content-block p {
    margin-top: 1.75vw;
    font-size: 1.75vw;
    line-height: 2vw;
    text-align: center;
}

.stressed-content-block ul {
    margin-top: 1.75vw;
    width: 80%;
}

.stressed-content-block li {
    font-size: 1.3vw;
}

.stressed-content-block button {
    position: absolute;
    bottom: 2vw;
    width: 50%;
    height: 3.5vw;
    font-size: 1vw;
    color: #000;
    background-color: var(--color-bars-light);
    border: none;
    cursor: pointer;
    z-index: 1;
}

.stressed-graphics {
    position: absolute;
    inset: 0;
    z-index: var(--z-graphics);
}

.stressed-graphics .blip {
    top: 3.75vw;
    right: 15.75vw;
    width: 2vw;
    height: 2vw;
}
.stressed-graphics-bar-top-svg {
    position: absolute;
    top: 4.6vw;
    right: 0;
    width: 16vw;
    height: 4.5vw;
}
.stressed-graphics-bar-middle-svg {
    position: absolute;
    top: 58.5%;
    left: 0;
    width: 7vw;
    height: 16.4vw;
}
.stressed-graphics-bar-bottom-svg {
    position: absolute;
    bottom: -3vw;
    right: -9.5vw;
    width: 16vw;
    height: 3vw;
    z-index: -1;
}

.stressed-content-block-01 .blip {
    bottom: -3.5vw;
    right: -42%;
    width: 2vw;
    height: 2vw;
}

@media screen and (max-width: 1280px) {
    .stressed-content-block li {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 720px) {


    .section-stressed h2 {
        font-size: 8vw;
        color: var(--color-accent-01);
        text-align: center;
    }
    
    .section-stressed h3 {
        margin-top: 3vw;
        margin-bottom: 5vw;
        font-size: 4vw;
    }

    .stressed-content-blocks {
        flex-direction: column;
    }

    .stressed-content-block {
        width: 100%;
        padding-bottom: 10vw;
    }

    .stressed-content-block h4 {
        font-size: 5vw;
    }
    
    .stressed-content-block p {
        font-size: 4vw;
        line-height: 4vw;
    }
    
    .stressed-content-block ul {
        margin-top: 3vw;
    }
    .stressed-content-block li {
        font-size: 3vw;
    }

    .stressed-content-block button {
        position: absolute;
        bottom: 2vw;
        width: 96%;
        height: 6vw;
        font-size: 2.5vw;
    }

    .stressed-graphics .blip {
        top: 17vw;
        right: 15vw;
        width: 3vw;
        height: 3vw;
    }
    .stressed-graphics-bar-top-svg {
        top: 18.3vw;
    }
    .stressed-graphics-bar-middle-svg {
        top: 58.5%;
    }
    .stressed-graphics-bar-bottom-svg {
        bottom: -2vw;
        right: -1.5vw;
        width: 16vw;
        height: 3vw;
    }
    .stressed-content-block-01 .blip {
        bottom: -2.85vw;
        right: -4.5vw;
        width: 3vw;
        height: 3vw;
    }
}