.section-tech-scare {
    width: 100%;
    padding: 2vw 4.75vw;
    background-color: var(--color-accent-01);
}

.section-tech-scare h2 {
    font-size: 4vw;
    letter-spacing: -0.15vw;
}

.section-tech-scare h3 {
    font-size:3vw;
    letter-spacing: 0.075vw;
    font-style: italic;
}

.tech-scare-content {
    width: 100%;
    margin-top: 4.5vw;
    margin-bottom: 3vw;
    padding: 0 0.75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tech-scare-content-left {
    width: 50%;
}
.tech-scare-content-left p {
    font-size: 1.75vw;
    letter-spacing: 0.05vw;
    line-height: 2.5vw;
    margin-bottom: 3.2vw;
}

.tech-scare-content-right {
    position: relative;
    width: 50%;
    z-index: var(--z-content);
}

.tech-scare-content-right-factor {
    position: relative;
    width: 48vw;
    padding: 1.75vw;
    transform: translate(2.5vw, -0.5vw);
    font-size: 1.4vw;
    font-style: normal;
    letter-spacing: 0.03vw;
    color: #000;
    background-color: #fff;
}

.tech-scare-content-right ul {
    margin-top: 2.75vw;
    margin-left: 7.5vw;
}
.tech-scare-content-right li {
    position: relative;
    list-style: none;
    line-height: 2.25vw;
    margin-bottom: 0.5vw;
}
.tech-scare-content-right li > div {
    position: absolute;
    left: -4.75vw;
    top: 0.45vw;
    width: 2.25vw;
    height: 1.25vw;
    border-radius: 0.1vw;
    background-color: var(--color-bars-light);
}
.tech-scare-content-right li > div::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0.3vw;
    bottom: 0.3vw;
    width: 0.25vw;
    border-radius: 0 0.1vw 0.1vw 0;
    background-color: var(--color-bars-light);
}

.tech-scare-content-right button {
    margin-top: 12.5vw;
    margin-left: 14vw;
}

@media screen and (max-width: 720px) {
    
    .section-tech-scare h2 {
        font-size: 8vw;
    }

    .section-tech-scare h3 {
        font-size: 5vw;
    }

    .tech-scare-content {
        width: 100%;
        flex-direction: column;
    }

    .tech-scare-content-left, .tech-scare-content-right {
        width: 100%;
    }

    .tech-scare-content-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tech-scare-content-left p{
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .tech-scare-content-right li {
        font-size: 3vw;
        line-height: 3.5vw;
        margin-left: 5vw;
    }

    .tech-scare-content-right ul {
        margin-left: 0;
    }

    .tech-scare-content-right-factor {
        width: 100%;
        font-size: 2.5vw;
        text-align: center;
        transform: none;
    }
    .tech-scare-content-right li > div {
        left: -5vw;
        width: 3.5vw;
        height: 2vw;
        top: 0.9vw;
    }
    .tech-scare-content-right li > div::after {
        top: 0.45vw;
        bottom: 0.45vw;
        width: 0.3vw;
    }

    .tech-scare-content-right button {
        margin-top: 5vw;
        width: 90%;
        height: 6vw;
        transform: translateX(-10%);
    }
    .tech-scare-content-right button p {
        font-size: 3vw;
    }
}