@font-face {
    font-family: 'Pragmatica-Bold';
    src: url('./Fonts/PragmaticaExt/PragmaticaExtendedBold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Pragmatica-Book';
    src: url('./Fonts/PragmaticaExt/PragmaticaExtended-Book.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Pragmatica-Light';
    src: url('./fonts/PragmaticaExt/PragmaticaExtended-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Pragmatica-Light-Oblique';
    src: url('./fonts/PragmaticaExt/PragmaticaExtended-LightOblique.ttf');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Museo-Bold';
    src:
        url('./Fonts/Museo/MuseoSans_700.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Museo-BoldItal';
    src:
        url('./Fonts/Museo/MuseoSans_700 Italic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo-Med';
    src:
        url('./Fonts/Museo/MuseoSans_500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Museo-MedItal';
    src:
        url('./Fonts/Museo/MuseoSans_500 Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo-Light';
    src:
        url('./Fonts/Museo/MuseoSans_300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Museo-LightItal';
    src:
        url('./Fonts/Museo/MuseoSans_300 Italic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src:
        url('./Fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat-Reg';
    src:
        url('./Fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat-Med';
    src:
        url('./Fonts/Montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat-MedItal';
    src:
        url('./Fonts/Montserrat/Montserrat-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Light';
    src:
        url('./Fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat-LightItal';
    src:
        url('./Fonts/Montserrat/Montserrat-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

.pragmatica-r {
    font-family: 'Pragmatica-Book';
}

.pragmatica-b {
    font-family: 'Pragmatica-Bold';
}

.pragmatica-l {
    font-family: 'Pragmatica-Light';
}

.pragmatica-lo {
    font-family: 'Pragmatica-Light-Oblique';
}

.museo-b {
    font-family: 'Museo-Bold';
}

.museo-bi {
    font-family: 'Museo-BoldItal';
}

.museo-m {
    font-family: 'Museo-Med';
}

.museo-mi {
    font-family: 'Museo-MedItal';
}

.museo-l {
    font-family: 'Museo-Light';
}

.museo-li {
    font-family: 'Museo-LightItal';
}

.montserrat-b {
    font-family: 'Montserrat-Bold';
}

.montserrat-r {
    font-family: 'Montserrat-Reg';
}

.montserrat-m {
    font-family: 'Montserrat-Med';
}

.montserrat-mi {
    font-family: 'Montserrat-MedItal';
}

.montserrat-l {
    font-family: 'Montserrat-Light';
}

.montserrat-li {
    font-family: 'Montserrat-LightItal';
}