.section-hero {
    position: relative;
    margin-top: var(--nav-height);
    background-color: var(--color-background);
    width: 100%;
    height: auto;
    padding-top: 5vw;
    padding-left: 5.5vw;
    padding-bottom: 5vw;
}

.hero-content {
    position: relative;
    isolation: isolate;
    z-index: var(--z-content);
}

.hero-content h2 {
    font-size: 5.75vw;
    margin-top: -0.6vw;
}

.hero-content h3 {
    position: relative;
    margin-top: 13vw;
    letter-spacing: -0.03vw;
    width: fit-content;
}

.hero-content h3 > span {
    color: var(--color-bars-light);
}

.hero-graphics {
    position: absolute;
    inset: 0;
}

.bars-top > div, .bars-top > img,
.bars-middle > div, .bars-middle > img,
.bars-left > div, .bars-left > img,
.glowBar-bottom > div, .glowBar-bottom > img {
    position: absolute;
}

.bars-top {
    position: absolute;
    top: 3.75vw;
    left: 23.5vw;
    width: 60vw;
    height: 5vw;
}

.glowBar-left-top {
    width: 5.5vw;
    top: -0.25vw;
    left: -0.75vw;
    transform-origin: right;
    transform: rotateZ(-45deg);
}

.bar-heading-to-glowBar {
    left: 6vw;
    width: 2vw;
    height: 3.8vw;
    transform-origin: 0% 0%;
    transform: skew(-45deg);
    background-color: var(--color-bars-light);
}

.glowBar-top {
    left: 7.5vw;
    width: 42.5vw;
}

.bar-glowbar-top-to-blip {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 2.75vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
    transform-origin: left;
    transform: rotate(45deg);
}
.bar-glowbar-top-to-blip > div {
    position: absolute;
    top: vw;
    left: 100%;
    width: 5vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
    transform-origin: left;
    transform: rotate(-45deg);
}

.bars-top .blip {
    left: 56.5vw;
    top: 1vw;
    width: 2vw;
    height: 2vw;
}

.graphic-rings {
    position: absolute;
    right: -9vw;
    top: -16.5vw;
    width: 21.25vw;
    height: 21.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    z-index: var(--z-graphics);
}

.graphic-ring-inner,
.graphic-ring-small,
.graphic-ring-big,
.graphic-ring-outer {
    position: absolute;
    width: 100%;
}

.graphic-ring-inner {
    width: 75%;
    animation: rotateInner 10s linear infinite forwards;
}

.graphic-ring-small {
    width: 90%;
    animation: rotatex2 10s linear infinite forwards;
}

.graphic-ring-big {
    width: 90%;
    animation: rotate 10s linear infinite forwards;
}

.bars-middle {
    position: absolute;
    top: 22.5vw;
    left: 21vw;
    width: 66.5vw;
    height: 8vw;
}

.bars-middle .blip {
    left: 0;
    top: 4.75vw;
}
.bars-middle .blip > div {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 10.25vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
}
.bars-middle .blip > div > div {
    position: absolute;
    top: 0;
    left: 100%;
    width: 7.5vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
    transform-origin: left;
    transform: rotate(-45deg);
}
.bars-middle .blip > div > div > div {
    position: absolute;
    top: 0;
    left: 100%;
    width: 25vw;
    height: 0.25vw;
    background-color: var(--color-bars-light);
    transform-origin: left;
    transform: rotate(45deg);
}

.bars-middle .battery {
    top: -2.25vw;
    left: 41vw;
    width: 6vw;
    height: 3vw;
}

.bar-battery-to-ring {
    left: 46.5vw;
    top: -1vw;
    width: 18vw;
}

.glowBar-below-rings {
    bottom: 0.4vw;
    right: -1.75vw;
    width: 2.5vw;
    transform-origin: left;
    transform: rotateZ(-90deg);
}

.bar-loader {
    left: 18vw;
    top: 3vw;
    width: 29.75vw;
    height: 3vw;
    border: 0.5vw solid var(--color-bars-light);
}

.bar-loader-corners {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.bar-loader-corners div {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
}

.bar-loader-corners div:nth-last-of-type(1) {
    top: -1vw;
    right: -1vw;
    border: solid var(--color-bars-light);
    border-width: 0.25vw 0.25vw 0 0;
}

.bar-loader-corners div:nth-last-of-type(2) {
    bottom: -1vw;
    left: -1vw;
    border: solid var(--color-bars-light);
    border-width: 0 0 0.25vw 0.25vw;
}

.bar-loader-corners div:nth-last-of-type(3) {
    bottom: -1vw;
    right: -1vw;
    border: solid var(--color-bars-light);
    border-width: 0 0.25vw 0.25vw 0;
}

.bar-loader-corners div:nth-last-of-type(4) {
    top: -1vw;
    left: -1vw;
    border: solid var(--color-bars-light);
    border-width: 0.25vw 0 0 0.25vw;
}

.bar-loader-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: 0.5vw;
    background-color: var(--color-bars-light);
    animation: barFill 4s forwards infinite ease-out;
}

.bars-left {
    position: absolute;
    top: 32vw;
    left: -3vw;
}

.bars-left .glowBarBase:nth-child(1) {
    left: -6.6vw;
    width: 20vw;
    transform: rotateZ(-45deg);
}

.bars-left .glowBarBase:nth-child(2) {
    top: 2.25vw;
    left: -6.6vw;
    width: 20vw;
    transform: rotateZ(-45deg);
}

.glowBar-bottom {
    position: absolute;
    right: -5vw;
    top: 1.5vw;
    width: 1px;
    height: 13.5vw;
    z-index: var(--z-graphics);
}

.glowBar-bottom .glowBar {
    top: 6.5vw;
    left: -6.5vw;
    width: 13vw;
    transform: rotateZ(90deg);
}

.glowBar-bottom .blip-slide {
    position: absolute;
    left: -1vw;
    animation: blip-slide 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glowBar-bottom .blip {
    position: absolute;
    left: 0vw;
    animation: blip-grow 3s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glowBar-bottom .blip::after {
    animation-duration: 3s;
}

@media only screen and (max-width: 720px) {
    .hero-content h2 {
        font-size: 8vw;
    }
    .hero-content h3 {
        font-size: 4vw;
        width: 50%;
    }
    .glowBar-top {
        left: 7vw;
        width: 22vw;
    }
    
    .bar-glowbar-top-to-blip {
        left: 29vw;
        width: 2.75vw;
        transform: rotate(45deg);
    }
    .bar-glowbar-top-to-blip > div {
        width: 7vw;
    }
    .bars-top .blip {
        left: 36vw;
        top: 1vw;
    }

    .bars-left {
        top: 36.5vw;
        left: -6.5vw;
    }

    .bars-middle {
        top: 33vw;
        left: 10vw;
    }

    .bars-middle .blip {
        left: 5vw;
    }

    .bars-middle .blip > div {
        width: 5vw;
    }

    .bars-middle .blip > div > div > div {
        width: 30vw;
    }

    .bars-middle .battery {
        top: -2.30vw;
        left: 42vw;
    }

    .bar-battery-to-ring {
        left: 48vw;
    }
    
    .graphic-rings {
        right: -14vw;
        top: -27vw;
        width: 30vw;
        height: 30vw;
        opacity: 50%;
    }

    .glowBar-bottom {
        top: 3vw;
        right: -11vw;
    }
}