:root {
    
    --color-background: #0a1c29;
    --color-background-light: #13324b;
    --color-bars-light: #17e2f7;
    --color-bars-mid: #28a1c4;
    --color-bars-dark: #194666;
    --color-accent-01: #0f2a3d;
    --color-accent-02: #143852;
    --color-accent-03: #1e547a;
    --color-text-default: #fefcf9;
    
    --animation-blip-scale: 2.5;
    
    --z-background: 0;
    --z-graphics: 10;
    --z-content: 20;
    --z-navbar: 30;
    
    --glowBar-height: 0.5vw;

    --nav-height: 8vw;
    --nav-link-hover-underline: 0%;
    --nav-link-hover-underline-back: 100%;
}

@keyframes openMenu {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

@keyframes blip {
    0% {
        opacity: 0;
    }
    9% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(var(--animation-blip-scale));
        opacity: 0;
    }
}

@keyframes rotateInner {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotatex2 {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(720deg);
    }
    100% {
        transform: rotateZ(720deg);
    }
}

@keyframes batteryFill01 {
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes batteryFill02 {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes batteryFill03 {
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes barFill {
    0% {
        left: 100%;
        right: 0%;
    }
    25% {
        left: 0%;
        right: 0%;
    }
    50% {
        left: 0%;
        right: 100%;
    }
    100% {
        left: 0%;
        right: 100%;
    }
}

@keyframes blip-slide {
    0% {
        bottom: 100%;
    }
    20% {
        bottom: 100%;
    }
    60% {
        bottom: 0%;
    }
    100% {
        bottom: 0%;
    }   
}

@keyframes blip-grow {
    0% {
        width: 0vw;
        height: 0vw;
    }
    10% {
        width: 2vw;
        height: 2vw;
    }
    70% {
        width: 2vw;
        height: 2vw;
    }  
    80% {
        width: 0vw;
        height: 0vw;
    }  
    100% {
        width: 0vw;
        height: 0vw;
    }
}

@keyframes skew-box-slide-01 {
    10%{left:0%;}
    30%{left:100%;}
    50%{left:100%;}
    90%{left:0%;}
}
@keyframes skew-box-slide-02 {
    5%{left:0%;}
    25%{left:100%;}
    55%{left:100%;}
    95%{left:0%;}
}
@keyframes skew-box-slide-03 {
    0%{left:0%;}
    20%{left:100%;}
    60%{left:100%;}
    100%{left:0%;}
}

*, *::before, *::after, *:visited {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color-text-default);
}

.spacer {
    flex: 1;
}

body {
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
}

h1 {
    font-size: 9.2vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 2.35vw;
}

p {
    font-size: 1.85vw;
}

em {
    font-size: 1.85vw;
}

button {
    position: relative;
    width: 17.5vw;
    height: 4vw;
    border: none;
    color: #000;
}
button p {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: #000;
    background-color: var(--color-bars-light);
    cursor: pointer;
    z-index: 2;
}
button img {
    position: absolute;
    right: -4.5vw;
    top: 0px;
    height: 100%;
    z-index: 1;
}

/* Blip Start*/
.blip {
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: var(--color-bars-light);
}
.blip::after {
    position: absolute;
    left: 0%;
    content: '';
    border: 0.25vw solid var(--color-bars-light);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: blip 2s forwards infinite ease-out;
}
/* Blip End */

/* Battery Start */
.battery > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.battery-fills {
    width: 100%;
    height: 100%;
    padding: 10%;
    padding-right: 14%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.battery-fill-01, .battery-fill-02, .battery-fill-03 {
    width: 28%;
    height: 100%;
    background-color: var(--color-bars-light);
    border-radius: 15%;
    opacity: 0;

}
.battery-fill-01 {
    animation: batteryFill01 6s linear infinite backwards;
}

.battery-fill-02 {
    animation: batteryFill02 6s linear infinite backwards;
}

.battery-fill-03 {
    animation: batteryFill03 6s linear infinite backwards;
}
/* Battery End */

@media screen and (max-width: 720px) {
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 8vw;
    }
    
    h3 {
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
    }
}